.tabs {
  &__nav {
    display: flex;
    margin-bottom: 16px;
  }

  &__item {
    display: block;
    cursor: pointer;
    color: #b8bac2;
    border-bottom: 3px solid #f5f5f6;
    flex: 1;
    text-align: center;
    font-size: 14px;
    height: 40px;
    line-height: 40px;

    &--active {
      border-bottom-color: #146dff;
      color: #146dff;
      cursor: default;
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }
}
